<div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">¡Acceso Denegado!</h4>
                    <p>La acción no puede ser realizada. Necesitas permisos de administrador.</p>
                    <hr>
                    <p class="mb-0">Por favor, contacta con el administrador si crees que se trata de un error.</p>
                </div>
            </div>
        </div>
</div>