@{
    ViewData["Title"] = "Home Page";
}
<h4 class="text-center" >Bienvenido a tu espacio de trabajo kanban digital</h4>
<figure>
    <img  style="width: 800px; height: 500px" src="@Url.Content("~/img/tablero.png")" alt="Descripción de la imagen">
</figure>
