@model Tarea
<form asp-controller="Tarea" asp-action ="AsignarUsuario"> 
    
    <input hidden asp-for="@Model.Id" class="form-control" />
    <input hidden asp-for="@Model.IdTablero" class="form-control" />
    <div class="form-group">
        <label asp-for="@Model.IdUsuarioAsignado">Ingrese ID de Usuario</label>
        <input asp-for="IdUsuarioAsignado" class="form-control" />
        <span asp-validation-for="IdUsuarioAsignado" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }