<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card-header bg-danger text-white">
                <h5 class="mb-0">Ocurrió un error inesperado</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Lo sentimos, ocurrió un error inesperado. Por favor, intenta nuevamente más tarde.
                </p>
                <figure>
                    <img src="~/img/Error.png" alt="Error" style="width: 500px; height:500px;">
                </figure>
            </div>
        </div>
    </div>
</div>