html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
form {
  width: 40%;
  margin: 0 auto;
}
label {
  margin-bottom: 10px;
}
input{
  margin-bottom: 10px;
  border: 0.3px solid rgb(209, 209, 209) !important;
}
select {
  margin-bottom: 10px;
  border: 0.3px solid rgb(209, 209, 209) !important;
}
h2 {
  text-align: center;
  color: rgb(92, 92, 92);
  font-weight: bolder;
  margin-bottom: 30px;
}
a {
  color: rgb(255, 255, 255);
}
figure {
  text-align: center;
}
nav ul {
  list-style: none !important;
}
td 
{
  text-align: center;
}
th {
  text-align: center;
}
table td,th {
  border: none;
}
.forms_Crear
{
  border: rgb(209, 209, 209) 3px solid !important;
  border-radius: 15px !important;
  padding: 2% !important;
}

.forms_Modificar{
  border: rgb(209, 209, 209) 3px solid !important;
  border-radius: 15px !important;
  padding: 2% !important;
}
.formulario-personalizado {
  display: flex;
  align-items: center; 
}

.formulario-personalizado select,
.formulario-personalizado input[type="submit"],
.formulario-personalizado a.btn {
  margin-right: 10px; 
}
.formulario-personalizado select
{
  border-radius: 5px;
}
.formulario-personalizado input
{
  border-radius: 5px;
  background: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  border: solid black 2px;
}
li {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 40px; 
}
td 
{
  text-align: center; 
  vertical-align: middle; 
}
.formulario-personalizado2
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vh;
  width: 20%;
  border-radius: 5px;
}
.formulario-personalizado2 , input, select
{
  margin-top: 1vh;
}
  
.formulario-personalizado2 input {
  margin-left: 1vw;
  border-radius: 5px;
  background-color: black;
  padding: 3%;
  width: 6.5vw;
  color: white;

}
  
.formulario-personalizado2 select {
  margin-right: 1vw;
  border-radius: 5px;
  background-color: black;
  padding: 3%;
  color: white;
}
.table {
  border-radius: 20px;
  border-collapse: collapse; 
}
.table td {
  margin-bottom: 30vh;
  height: 14vh;
}
.table th, .table td {
  padding: 10px;
  background-color: #78ff56b4; 
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.table tr {
  border-top: 20px solid #fff;
}
.table th
{
  background-color: #8d8d8d7e;
}
.table-tb-no-propios td{
  background-color: rgba(255, 241, 41, 0.336) ;
}
.table-usuario {
  background-color: rgba(0, 88, 19, 0.795) ;
  color: white;
}