html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(209, 209, 209)
}
form {
  width: 40%;
  margin: 0 auto;
}
label {
  margin-bottom: 10px;
}
input {
  margin-bottom: 10px;
  border: 0.3px solid rgb(138, 137, 137) !important;
}
select {
  margin-bottom: 10px;
  border: 0.3px solid rgb(138, 137, 137) !important;
}
h2 {
  text-align: center;
  color: rgb(92, 92, 92);
  font-weight: bolder;
  margin-bottom: 30px;
}
a {
  color: rgb(255, 255, 255);
}
figure {
  text-align: center;
}
nav ul {
  list-style: none !important;
}
td 
{
  text-align: center;
}
th {
  text-align: center;
}