@model Usuario
@*Esta vista recibe como modelo que se un objeto del tipo Usuario, se debe pasar por parametro el objeto*@
<h2>Modificar Usuario</h2>

<form asp-controller="Usuario" asp-action="ModificarUsuario">
    <input hidden asp-for="@Model.Id">
    <div class="form-group">
        <label asp-for="@Model.NombreDeUsuario">Nombre de usuario</label>
        <input asp-for="@Model.NombreDeUsuario" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>

 @*asp-action hace referencia al nombre del endpoint [post], de ahí la importancia 
 de que si el el endpoint [get] y el [post] tienen distintos nombres, entonces primero me aseguro de que la vista 
 para el endpoint get exista, pues es lo primero que se agarra y dentro de esa vista debe estar explicito el nombre
 del endpoint [post] que será diferente al nombre de la (vista y del endpoin get) si se quiere*@