@model Usuario 
@*la vista espera un objeto del tipo Usuario*@
<h2>Nuevo Usuario</h2>

<form asp-controller="Usuario" asp-action ="NuevoUsuario"> 
    <div class="form-group">
        <label asp-for="@Model.NombreDeUsuario" >Nombre de usuario</label>
        <input asp-for="@Model.NombreDeUsuario" class="form-control" placeholder="ejemplo: Malena conrado" />
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
    @* <button type="submit" class="btn btn-primary">Enviar</button> *@
</form>